body {
    font-family: 'Special Elite', cursive;
    background-color: beige;
    color: black;
}

.header_div {
    background-color: gray;
    color: black;
}

.copy_right_footer {
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: white;
    line-height: 3;
    text-align: center;
}


.header_div p{
    font-family: 'Oswald', sans-serif;
    color: darkslategray;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button {
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}